html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  padding: 0 2%;
  max-width: 1200px;
  margin: 0 auto;
}

#header {}

#footer {}


