html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: white;
}

.container {
  padding: 0 $small-spacing;
  max-width: $site-width;
  margin: 0 auto;
}

#header {}

#footer {}


