<div id="search-form-container">
    <div class="container">

        <form role="search" method="get" id="searchform" class="searchform" action="{{ site.url }}">

            <div class="form-item search-field">
                <input type="text" value="" name="s" placeholder="SEARCH" required>
            </div>

            <div class="form-item form-actions">
                <button id="searchsubmit" type="submit">
                    {#<svg class="icon-search-icon"><use xlink:href="{{ site.theme.link }}/img/icons.svg#icon-search-icon"></use></svg>#}
                    Search
                </button>
            </div>

        </form>

    </div>
</div>